
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    color: #ccc;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease; /* Optional: Add a smooth transition */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('umbrella-3380192_1280.jpg');
    background-size: cover;
    z-index: -1; /* Ensures the background stays behind other content */
  }


.weather-info {
    background-color: rgba(60, 142, 180, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


.sunny-bg {
    background-image: url('ocean-1861597_640.jpg'); /* Replace with your sunny weather background image */}

.cloudy-bg {
    background-image: url('sky-921366_640.jpg');
}

.rainy-bg {
    background-image: url('raindrops-3216607_640.jpg'); /* Replace with your rainy weather background image */
}

/* Default background when no specific weather condition matches */
.default-bg {
    background-image: url('sunset-4086848_1280.jpg');
}