
body {
    background-color: #f0f0f0; /* Light gray background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    /* Define styles for the container */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease; /* Optional: Add a smooth transition */
}


.weather-info {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


.sunny-bg {
    background-image: url('ocean-1861597_640.jpg'); /* Replace with your sunny weather background image */ /*sunny:85364
}

.cloudy-bg {
    background-image: url('sky-921366_640.jpg'); /* Replace with your cloudy weather background image */
}

.rainy-bg {
    background-image: url('rainy.jpg'); /* Replace with your rainy weather background image */
}

/* Default background when no specific weather condition matches */
.default-bg {
    background-image: url('default.jpg');
}